name: Playwright Tests
trigger:
  - main

jobs:
  - job: test
    timeoutInMinutes: 60
    pool:
      vmImage: "windows-2019"
    steps:
      - task: NodeTool@0
        inputs:
          versionSpec: "16.x"
        displayName: "Install Node.js"
      - script: |
          npm ci
        displayName: "Install dependencies"
      - script: |
          npx playwright install --with-deps
        displayName: "Install Playwright Browsers"
      - script: |
          npx playwright test     

        displayName: "Run Playwright tests"
      - publish: $(System.DefaultWorkingDirectory)
        artifact: playwright-report
      - script: npx test-results-reporter publish -c config.json
        # always create the artifact, this is useful for debugging failed tests
        condition: always()
        continueOnError: true
        